.mapContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
.resultsContainer {
    position: absolute;
    bottom: 0;
    margin-left: 15%;
    /* z-index: 1; */
    height: auto;
    text-align: center;
    width: 70%;
}
.paper {
    width: 100%;
    height: 250px;
    /* margin-bottom: 200px; */
    margin-bottom: 10px;
}

.menuButton {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 200;
}
.drawer {
    width: 200px;
}